@page "/"

<AuthorizeView>
    <Authorized>
        <p />
        <h6>@context.User.Identity!.Name  </h6>
    </Authorized>
    <NotAuthorized>
        <Login></Login>
    </NotAuthorized>
</AuthorizeView>
