<h3>SurgeryCEC</h3>

@page "/surgerycec"
@inject IAuthService AuthService
@inject NavigationManager NavigationManager

<h3>PatientSurgery</h3>


CEC

<EditForm Model="patientsurgery" OnValidSubmit="HandlePatientSurgery">
    <DataAnnotationsValidator></DataAnnotationsValidator>
    <button type="submit" class="btn btn-primary">CEC</button>
    <button type="button" @onclick="HandlePatientAnestesia" class="btn btn-secondary">Anestezie</button>
</EditForm>

@code {
    StgMures.Shared.DbModels.PatientSurgery patientsurgery = new StgMures.Shared.DbModels.PatientSurgery();

    async void HandlePatientSurgery()
    {
        NavigationManager.NavigateTo("/");

        /*
        var result = await AuthService.RegisterPatient(user);

            if (result.Success)
            {
            ToastService.ShowSuccess(result.Message);
            NavigationManager.NavigateTo("/");
            }
            else
            {
            ToastService.ShowError(result.Message);
    }
    */
    }

    void HandlePatientAnestesia(MouseEventArgs e)
    {
        NavigationManager.NavigateTo("anesthesia");
    }


}
