@page "/surgeryanestesia"


<h3>Anestezia </h3>

@inject IAuthService AuthService
@inject NavigationManager NavigationManager

<h3>PatientSurgery</h3>


Operatie Pacient

<EditForm Model="patientsurgery" OnValidSubmit="HandlePatientSurgery">
    <DataAnnotationsValidator></DataAnnotationsValidator>
    <button type="submit" class="btn btn-primary">CEC</button>
</EditForm>

@code {
    StgMures.Shared.DbModels.PatientSurgery patientsurgery = new StgMures.Shared.DbModels.PatientSurgery();

    async void HandlePatientSurgery()
    {
        NavigationManager.NavigateTo("cec");

        /*
        var result = await AuthService.RegisterPatient(user);

            if (result.Success)
            {
            ToastService.ShowSuccess(result.Message);
            NavigationManager.NavigateTo("/");
            }
            else
            {
            ToastService.ShowError(result.Message);
    }
    */
    }


}

@code {

}
