@page "/treatmentcategories"
@using StgMures.Shared.DbModels;
@using StgMures.Client.Services;
@using System.Linq;



<h5 class="text-bg-primary">TreatmentCategory</h5>




@code {

        IQueryable<TreatmentCategory>? treatmentcategories;

    protected override async Task OnInitializedAsync()
    {
        // await AuthStateProvider.GetAuthenticationStateAsync();
/*
                try
                {
                    treatmentcategories = (await TreatmentCategoryService.TreatmentCategory()).AsQueryable();
                }
                catch (Exception e)
                {
                    Console.WriteLine(e.Message);
                }
        */
    }

}
