.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.2);
}
.navbar {
    background-color: azure; /*rgba(255, 255, 255, 0.1);*/
    padding-top: 0px;
    padding-bottom: 0px;
}

.navbar-nav li:hover > ul.dropdown-menu {
    display: block;
}

.dropdown-submenu {
    position: relative;
}

@media (min-width: sm) {
    .navbar-toggler {
        display: none;
    }
}
