@inject ILocalStorageService LocalStorage
@inject AuthenticationStateProvider AuthStateProvider
@inject NavigationManager NavigationManager


<nav class="navbar navbar-light sticky-top my-0 py-0 navbar-expand-sm">
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="colapse navbar-collapse @NavMenuCssClass">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <span class="oi oi-home text-success" title="Acasa"></span>
                </NavLink>
            </li>

           <AuthorizeView>
                <Authorized>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="diagnostic">
                            <span class="oi oi-key" aria-hidden="true"></span> Diagnotice
                        </NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="patient">
                            <span class="oi oi-pencil" aria-hidden="true"></span> Pacienti
                        </NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="patienttreatment">
                            <span class="oi oi-pencil" aria-hidden="true"></span> Tratament pacient
                        </NavLink>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" @onclick="Logout" style="cursor: pointer;">
                            <span class="oi oi-account-logout" aria-hidden="true" title="Log out"></span> 
                        </a>
                    </li>
                </Authorized>
               <NotAuthorized>
                    <li class="nav-item">
                        <NavLink class="nav-link text-primary" href="register" title="Inregistrare utilizator">
                            <span class="oi oi-pencil" aria-hidden="true"></span> 
                        </NavLink>
                    </li>
                </NotAuthorized>
            </AuthorizeView>
        </ul>
    </div>
</nav>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private async void Logout()
    {
        await LocalStorage.RemoveItemAsync("authToken");
        await AuthStateProvider.GetAuthenticationStateAsync();
        NavigationManager.NavigateTo("/");
    }
   
}
