@inject ILocalStorageService LocalStorage
@inject AuthenticationStateProvider AuthStateProvider
@inject NavigationManager NavigationManager

<MudNavMenu Dense="true">
    <MudNavLink Href="/" Match="NavLinkMatch.All">Home</MudNavLink>
    <AuthorizeView>
        <Authorized>
            <MudNavLink Href="patientslist" Match="NavLinkMatch.Prefix">Pacienti</MudNavLink>
            <MudNavLink Href="patienttreatment" Match="NavLinkMatch.Prefix">Tratament pacient<span class="oi oi-eyedropper"></span> </MudNavLink>

            <MudNavGroup Title="Setari" Expanded="false" >

                <MudNavGroup Title="Tipuri" Expanded="false">
                    <MudNavLink Href="diagnostic" Match="NavLinkMatch.Prefix">Diagnostice </MudNavLink>
                    <MudNavLink Href="treatment" Match="NavLinkMatch.Prefix">Tratamente</MudNavLink>
                    <MudNavLink Href="treatment" Match="NavLinkMatch.Prefix">Consumabile</MudNavLink>
                    <MudNavLink Href="treatment" Match="NavLinkMatch.Prefix">Interventii chirurgicale</MudNavLink>
                </MudNavGroup>

                <MudNavGroup Title="Categorii" Expanded="false">
                    <MudNavLink Href="DiagnosticCategories" Match="NavLinkMatch.Prefix">Diagnostice</MudNavLink>
                    <MudNavLink Href="treatmentcategory" Match="NavLinkMatch.Prefix">Tratamente</MudNavLink>
                    <MudNavLink Href="ConsumableCategories" Match="NavLinkMatch.Prefix">Consumabile</MudNavLink>
                </MudNavGroup>
            </MudNavGroup>

            <MudDivider DividerType="DividerType.Middle" /> <!--Separator-->
            <MudNavLink OnClick="@(() =>Logout())">Logout</MudNavLink>

        </Authorized>
        <NotAuthorized>
            <MudNavLink href="register" title="Inregistrare utilizator"><span class="oi oi-pencil"></span> </MudNavLink>
        </NotAuthorized>
    </AuthorizeView>
</MudNavMenu>


@code {
    private async void Logout()
    {
        await LocalStorage.RemoveItemAsync("authToken");
        await AuthStateProvider.GetAuthenticationStateAsync();
        NavigationManager.NavigateTo("/");
    }
   
}
