
    <AuthorizeView>
        <Authorized>
            <div class="top-menu">
                <span class="popover-header">
                    top-menu
                </span>
            </div>
        </Authorized>
        <NotAuthorized>
            <div>
                <NavLink href="">Login</NavLink> |
                <NavLink href="register">Inregistrare</NavLink>
            </div>
        </NotAuthorized>
    </AuthorizeView>

    
    @code {
    }
