@implements IDisposable

<!--
    <AuthorizeView>
        <Authorized>
            <div class="top-menu">
                <img src="icons/banana.png" />
                <span class="popover-header">

                </span>
                <AddBananas />
            </div>
        </Authorized>
        <NotAuthorized>
            <div>
                <NavLink href="">Login</NavLink> |
                <NavLink href="register">Register</NavLink>
            </div>
        </NotAuthorized>
    </AuthorizeView>
-->

            <div class="top-menu">
                <!-- <img src="icons/banana.png" />
                <span class="popover-header">
                Login personal medical; 
                </span>
                </div>

    @code {
        protected override void OnInitialized()
        {
           ; //  BananaService.OnChange += StateHasChanged;
        }

        public void Dispose()
        {
            ; // BananaService.OnChange -= StateHasChanged;
        }
    }
